[Unit]
Description=Linux Firewall Manager Managed Agent (fw-agent)
Documentation=https://github.com/alexandre/lnx-firewall-manager
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/fw-agent run --config /etc/fw-agent/config.json --certs-dir /etc/fw-agent/certs --state-dir /var/lib/fw-agent
Restart=on-failure
RestartSec=5s

# Hardening & Mínimo Privilégio
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/fw-agent /etc/iptables /etc/sysconfig
PrivateTmp=true
ProtectControlGroups=true
ProtectKernelModules=false
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
